In [28]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer


df = pd.read_csv('vgsales_2.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,12200,Cabela's Big Game Hunter 2005 Adventures,GC,2004.0,Sports,Activision,0.05,0.01,0.00,0.00,0.07
1,10814,Minority Report: Everybody Runs,XB,2002.0,Action,Activision,0.07,0.02,0.00,0.00,0.10
2,894,Mario Super Sluggers,Wii,2008.0,Sports,Nintendo,1.51,0.00,0.29,0.12,1.93
3,4808,Warriors Orochi 2 (JP sales),PS2,2008.0,Action,Tecmo Koei,0.00,0.00,0.40,0.00,0.40
4,13925,Don Bradman Cricket 14,XOne,2015.0,Sports,Tru Blu Entertainment,0.00,0.04,0.00,0.00,0.04
...,...,...,...,...,...,...,...,...,...,...,...
548,4143,SimCity Creator,Wii,2008.0,Simulation,Electronic Arts,0.37,0.03,0.04,0.04,0.48
549,14462,Freaky Flyers,XB,2003.0,Racing,Midway Games,0.02,0.01,0.00,0.00,0.03
550,7513,Frogger 3D,3DS,2011.0,Action,Konami Digital Entertainment,0.16,0.03,0.00,0.01,0.20
551,872,Tom Clancy's Rainbow Six: Vegas,X360,2006.0,Shooter,Ubisoft,1.09,0.65,0.02,0.20,1.96
552,16389,TrackMania Turbo,PC,2016.0,Action,Ubisoft,0.00,0.01,0.00,0.00,0.01

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          546 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     549 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

In [10]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,546.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,7892.754069,2006.243590,0.264051,0.150470,0.084864,0.043671,0.543490
std,4907.196792,6.031812,0.661083,0.434039,0.235014,0.114452,1.214904
min,24.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,3628.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.070000
50%,7515.000000,2007.000000,0.070000,0.020000,0.000000,0.010000,0.200000
75%,12221.000000,2010.000000,0.280000,0.150000,0.050000,0.040000,0.560000
max,16574.000000,2017.000000,9.630000,5.310000,2.430000,1.380000,16.380000

In [11]:
df.shape

(553, 11)

In [13]:
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            7
Genre           0
Publisher       4
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [29]:
df1 = df.drop(columns=['EU_Sales'])
df1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,JP_Sales,Other_Sales,Global_Sales
0,12200,Cabela's Big Game Hunter 2005 Adventures,GC,2004.0,Sports,Activision,0.05,0.00,0.00,0.07
1,10814,Minority Report: Everybody Runs,XB,2002.0,Action,Activision,0.07,0.00,0.00,0.10
2,894,Mario Super Sluggers,Wii,2008.0,Sports,Nintendo,1.51,0.29,0.12,1.93
3,4808,Warriors Orochi 2 (JP sales),PS2,2008.0,Action,Tecmo Koei,0.00,0.40,0.00,0.40
4,13925,Don Bradman Cricket 14,XOne,2015.0,Sports,Tru Blu Entertainment,0.00,0.00,0.00,0.04
...,...,...,...,...,...,...,...,...,...,...
548,4143,SimCity Creator,Wii,2008.0,Simulation,Electronic Arts,0.37,0.04,0.04,0.48
549,14462,Freaky Flyers,XB,2003.0,Racing,Midway Games,0.02,0.00,0.00,0.03
550,7513,Frogger 3D,3DS,2011.0,Action,Konami Digital Entertainment,0.16,0.00,0.01,0.20
551,872,Tom Clancy's Rainbow Six: Vegas,X360,2006.0,Shooter,Ubisoft,1.09,0.02,0.20,1.96
552,16389,TrackMania Turbo,PC,2016.0,Action,Ubisoft,0.00,0.00,0.00,0.01

In [31]:
df2 = df.replace({'Year' : np.nan}, '1234')
df2.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       4
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [35]:
qwe = SimpleImputer(strategy='mean', missing_values=np.nan)
qwe = qwe.fit(df1[['Year']])
df1['Year'] = qwe.transform(df1[['Year']])
df1.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       4
NA_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [37]:
df.sort_values(by='Genre', ascending=False)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
516,13179,Yu-Gi-Oh! World Championship 2007,DS,2007.0,Strategy,Konami Digital Entertainment,0.00,0.01,0.04,0.00,0.05
405,15029,Stronghold Crusader Extreme,PC,2008.0,Strategy,Gamecock,0.00,0.02,0.00,0.00,0.02
38,2338,Pokemon Card GB2: Here Comes Team GR!,GB,2001.0,Strategy,Nintendo,0.00,0.00,0.89,0.00,0.89
475,13704,XCOM 2,PS4,2016.0,Strategy,Take-Two Interactive,0.01,0.02,0.00,0.01,0.04
179,6643,A. IV Evolution: A Ressha de Ikou 4,PS,1994.0,Strategy,ArtDink,0.00,0.00,0.24,0.02,0.25
...,...,...,...,...,...,...,...,...,...,...,...
238,9421,Tomb Raider: Legend,XB,2006.0,Action,Eidos Interactive,0.10,0.03,0.00,0.00,0.13
440,5045,MediEvil II,PS,1999.0,Action,Sony Computer Entertainment,0.21,0.14,0.00,0.02,0.38
241,12593,Summon Night 6: Lost Borders,PSV,2016.0,Action,Namco Bandai Games,0.00,0.00,0.06,0.00,0.06
248,16288,Root Double: Before Crime After Days,X360,2012.0,Action,Yeti,0.00,0.00,0.01,0.00,0.01
552,16389,TrackMania Turbo,PC,2016.0,Action,Ubisoft,0.00,0.01,0.00,0.00,0.01

In [ ]:
df.to_csv('df.csv')
df1.to_csv('df1.csv')
df2.to_csv('df2.csv')